   <div style="padding-bottom: 10px;" *ngIf="notification">
    <div >
        <label>
          Title: {{ notification.title }}

        </label>
      </div>

      <div>
        <label>
          Message: {{ notification.message }}
        </label>
      </div>
   </div>

   <div style="padding-bottom: 10px;" *ngIf="!notification">
        <h6>Notification not found</h6>
    </div>

<div style="padding-top: 10px;">
    <button class="btn btn-secondary" (click)="onBack()">Back</button>
</div>

