<div class="container">
  <div class="card">

    <div class="card-body">
      <h5 class="card-title">Add Notification</h5>
      <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <formly-form [form]="notificationForm" [model]="model" [fields]="fields">
          </formly-form>
        </div>

        <div class="row d-flex justify-content-end mb-2">
          <button class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div style="padding-top: 10px;">
    <button (click)="onBack()">{{ 'APP.GENERAL.BACK' | translate}}</button>
</div>
