<div class="title">
    <h2>Hello External template</h2>
</div>
<div>

    <p> {{ notificationTitle }}</p>
    <p> {{ firstNumber + secondNumber }}</p>
    <p> {{ firstNumber + ' - ' + secondNumber }}</p>

    <h1 [innerHTML]="notificationTitle" 
    [class.title] = "ismainTitle"
    ></h1>

    <button (click)="onSubmit()">Click Me</button>

    <h1>Two way binding</h1>
    <input [(ngModel)]="notificationMessage">

    {{ notificationMessage }}
</div>