
  <div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <p class="card-text"> {{ message }}</p>

      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" (click)="closeModal()"> {{ btnLabel }}</button>
      </div>
    </div>
  </div>
