<div>
    <button class="btn btn-primary"
            (click)="onNewNotification()">{{'PAGES.NOTIFICATION.NEW.NOTIFICATION_BTN_LABEL' | translate}}</button>
</div>

<div class="row">
  <div class="col-md-3">
    <h6>Unread notifications <span *ngIf="unReadNotificationCount$ | async as count"> {{ count }}</span></h6>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<app-list-notification *ngIf="notifications$ | async as notifications"
[notifications]="notifications"
(notificationEmitter)="onEmit($event)"
></app-list-notification>-->
