<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Mesage</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notification of notifications; let i = index"
      [class.unread-notification]="notification.status === unreadNotificationStatus"
      [class.read-notification]="notification.status === readNotificationStatus">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ notification.title | customUpperCase }} </td>
        <td>{{ notification.message }}</td>
        <td>{{ notification.status }}</td>
        <td><button class="btn btn-link" (click)="onView(notification)">View</button></td>
      </tr>
    </tbody>
  </table>
